* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
  }
  
  html,
  body {
    width: 100vw;
    font-size: 55%;
  }
  
  body {
    font-family: "Segoe UI, Tahoma, Geneva, Verdana, sans-serif";
    background-size: cover;
    Background: linear-gradient(180deg, rgb(172, 219, 243), rgb(234, 175, 200));
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: grid;
    transition: 0.5s ease-in-out;
  }
  
  a {
    color: white;
    transition: all 5s ease;
  }
  
  nav {
    background-color: rgb(191, 174, 204);
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 8rem;
    flex-wrap: wrap;
    padding: 0 1rem;
  }
  
  nav a:hover, 
  nav a:active {
    color: #1AA7EC;
    text-decoration: underline;
    text-underline-offset: 1rem;
  }
  
  .links {
    list-style: none;
    font-size: 2.5rem;
    gap: 3rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .link a{
    text-decoration: none;
  }
  section{
    min-height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  #name {
    font-size: 7rem;
    font-weight: 900;
    font-family: 'Times New Roman', serif;
    margin-bottom: 2rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px darkseagreen;
    animation: mymove 5s ease-in 2s infinite;
    padding-top: 2rem;
  }
  
  #name:before {
    content :'';
    position: absolute;
    left: 100%;
    background: linear-gradient(90deg, transparent 0%, #000 5%, #000 100%);
    animation: name 5s linear 0s infinite forwards;
  }
  
  #name span {
    color: rgb(150, 210, 255);
  }
  
  #name:hover {
    cursor: default;
  }
  
  #all {
    display: flex;
    gap: 0.1rem;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    padding-top: 2rem;
  }
  #myphoto{
    margin: 10rem;
   height: 30rem;
   width: 20rem;
   border-radius: 50%;
  }
  
  .div1 {
    display: flex;
    line-height: 1.2;
    margin: 7rem;
    text-align: center;
  }
  
  #myName {
  
    font-size: 7rem;
    color:#483D8B;
    padding-top: 5rem;
    text-align: center;
  }
  
  #dev {
    font-size: 5rem;
    font-family: "Cambria, Cochin, Georgia, Times, 'Times New Roman', serif";
    color: #D4A5A5;
  }
  
  .des {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    padding: 1rem;
    color: gray;
  }
  
  .box {
    height: 10rem;
    width: 50%;
    text-decoration: none;
    border: 2px solid #387288;
    background-color: #00abf0;
    border-radius: 0.5rem;
    font-size: 2rem;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    padding: 0.1rem;
    color: #081b29;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    box-shadow: -0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.5);
    transition: 1s all ease;
  }
  
  
  .box:hover {
     animation: transparent 3s ease-in-out 0s infinite forwards;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  @keyframes transparent{
    0% {
        background-color: rgba(0, 0, 0, 1);
    }
  
    25% {
        background-color: rgba(0, 0, 0, 0.3);
    }
  
    50% {
        background-color: rgba(0, 0, 0, 0.5);
    }
  
    75% {
        background-color: rgba(0, 0, 0, 0.7);
    }
  
    100% {
        background-color: rgba(0, 0, 0, 1);
    }
  }
  @media only screen and (max-width:2000px){
    html{
    font-size: 95%;
  }
  section{
    width: 95%;
  }
  nav{
    font-size: 2rem;
  }
  }
  @media only screen and (max-width:1400px){
    html{
        font-size:90%;
    }
    section{
        width: 90%;
    }
    nav{
        font-size: 1.5rem;
    }
  }
  
  
  @media only screen and (max-width:1300px) {
    html {
        font-size:80%;
    }
    section {
        font-size: 1rem;
        width: 85%;
    }
    .links{
        flex-direction: column;
        gap :0.1rem;
    }
  }
  @media only screen and (max-width:1220px){
    html{
        font-size: 75%;
    }
    section{
        width: 80%;
    }
  }
  
  @media only screen and (max-width:900px) {
    html {
        font-size: 60%;
    }
    section{
        min-width: 75%;
    }
    #name{
        font-size: 3rem;
    }
    #dev{
        font-size: 2rem;
    }
    #button{
        width:100%;
        height: auto;
        padding:0.5rem;
    }
    img{
        max-width: 50%;
        height: auto;
    }
    .links{
        flex-direction: column;
        align-items: center;
        gap :1rem;
    }
    .links i {
    font-weight: 800;
  }
  nav{
    height: 3rem;
    font-size: 0.8rem;
    gap:0;
  }
  .skill {
    width: 100px;
    height: 100px;
    font-size: 1rem;
  }
  }
  
  @media only screen and (max-width:768px) {
    html {
        font-size: 50%;
    }
    section{
        width:90%;
    }
    #name{
        font-size: 3rem;
    }
    #dev{
        font-size: 2rem;
    }
    #button{
        width:100%;
        height: auto;
        padding:1rem;
    }
    img{
        flex-direction: column;
        max-width: 50%;
        height: auto;
    }
  }
  @media only screen and (max-width:480px){
    html{
        font-size: 40%;
    }
    #name{
     font-size: 2rem;
  }
     #dev{
     font-size:1.5rem;
  }
     .links{
     font-size: 1rem;
  }
    #myphoto{
    height:15rem;
    width: 15rem;
  }
  }
  @keyframes name {
    0% {
        opacity: 0;
    }
  
    25% {
        opacity: 0.2;
    }
  
    50% {
        opacity: 0.5;
    }
  
    75% {
        opacity: 0.8;
    }
  
    100% {
        opacity: 1;
    }
  }
  
  @keyframes bounce {
  
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
  
    40% {
        transform: translateY(-10px);
    }
  
    60% {
        transform: translateY(-30px);
    }
  }
  
  @keyframes mymove {
    from {
        left: 0rem;
    }
  
    to {
        left: 10rem;
    }
  }
  
  #aboutme {
    display: flex;
    padding: 10px;
    background-color: #483D8B;
  }
  
  #imgaboutme {
    height: 15rem;
    width: 15rem;
    margin: 30px;
    border: 2px solid white;
    border-radius: 7%;
  }
  
  #abit {
    font-size: 6rem;
    margin: 3rem;
    text-shadow: 2px 0px 10px gray;
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(180, 255, 255)
  }
  
  .text {
    font-size: 2.5rem;
    text-align: center;
    color:rgb(252, 250, 250);
  }
  .skills-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    flex-wrap: wrap;
    max-width: 100%;
  }
  
  #skills{
    font-size: 10rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    text-shadow: 4px 6px 6px rgb(9, 8, 8); 
  }
  .skill {
    width:20rem;
    height: 20rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.5rem;
    text-align: center;
    background: linear-gradient(45deg, #4a90e2, #50e3c2);
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
    transition: transform 0.2s;
    margin: 3rem;
  }
  .skill:hover{
    transform: scale(1.5);
  }
  #myskills{
    background-color: rgb(150, 210, 255);
    display: flex;
    flex-direction: column;
  }
  
  .des {
    text-align: center;
    font-size: 2rem;
  }
  
  
  #container img:nth-child(2) {
    animation-delay: 4s;
  }
  
  #container img:nth-child(3) {
    animation-delay: 8s;
  }
  
  .contact {
    font-size: 10rem;
    text-align: center;
    margin: 2rem;
    font-weight: bolder;
    text-shadow: gray 1px 0 10px;
  }
  
  pre {
    font-size: 1.5rem;
    text-align: center;
  
  }
  
  .imgcontact {
    height: 8vh;
    width: 6vw;
  }
  
  .logo {
    display: inline-flex;
    flex-direction: column;
    margin: 30px;
    gap: 1rem;
    text-align: center;
  }
  
  #left {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pro {
    color: blue;
    text-decoration: underline;
  }
  
  footer {
    background: #555555;
    text-align: center;
    color: white;
    margin-top: auto;
    height: 5rem;
    font-size: 1.4rem;
  }
  
  #contact {
    text-align: center;
    margin: 0.2px;
    font-weight: bolder;
    text-shadow: gray 1px 0 10px;
  }
  
  pre {
    font-size: 20px;
    text-align: center;
  
  }
  
  .logo {
    display: inline-flex;
    flex-direction: column;
    margin: 30px;
    gap: 1rem;
    font-weight: bolder;
    text-align: center;
  }
  
  #left {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pro {
    color: blue;
    text-decoration: underline;
  }
  
